// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.git-bisect {
  .commit-row {
    background-color: @background-color-highlight;

    &-selected {
      background-color: @background-color-selected;
    }
  }

  .needs-clarification {
    .commit-row {
      opacity: 0.3;

      &-unknown {
        opacity: 1;
      }
    }
  }

  .highlight-commits {
    .commit-row {
      opacity: 0.3;

      &-bad {
        background-color: @background-color-error;
        color: white;
        opacity: 1;
      }

      &-good {
        background-color: @background-color-success;
        color: white;
        opacity: 1;
      }

      &-unknown {
        background-color: @background-color-highlight;
        opacity: 1;
      }

      &-current {
        background-color: @background-color-info;
        color: white;
        opacity: 1;
      }

      &-found {
        background-color: @background-color-error;
        color: white;
        opacity: 1;
      }
    }
  }
}
