// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.git-bisect {
  .commit-row {
    background-color: @background-color-highlight;

    &-selected {
      background-color: @background-color-selected;
    }

    &-bad {
      background-color: @background-color-error;
    }

    &-good {
      background-color: @background-color-success;
    }

    &-unknown {
      background-color: @background-color-warning;
    }

    &-current {
      background-color: @background-color-info;
    }

    &-found {
      background-color: @background-color-error;
    }
  }
}
